* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #272727;
}
#root{
    height: 100%;
    width: 100%;
}
.blockTable{
    display: inline-block;;
    height: 60px;
    background: #C4C4C4;
    width: 34%;
}
.blockTable:first-child{
    border-radius: 10px 0  0 10px;
    border-right: 1px solid black;
}
.blockTable:last-child{
    border-radius: 0 10px 10px 0;
    border-left: 1px solid black;
}
.filter{
    margin-left: 100px;
}
.filterBlock, .filterBlockItem{
    display: inline-block;
    margin: 0 15px;
}
.container{
    height: 100%;
    margin: 32px 40px 32px 40px;
    background: #3E3E3E;

    text-align: center;
}
.containerFilter{
    width: 100%;
}
.footer{
    position: absolute;
    margin-top: 500px;
    margin-left: 700px;
}
.header{
    width: 100%;
    height: 70px;
    background: #0FC790;
}
.mainLogoText{
    margin-bottom: 20px;
}
.mainLogo{
    margin-left: 40px;
}
.mainWindow{
    height: 80vh;
}
.titleFilter{
    font-family: Rubik;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
}
.filter{
    /*display: none;*/
}
.listItem{
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.list{
    width: 100%;
    text-align: center;
    margin-left: 20px;
}
.titleFilter{
    margin-left: 40%;
}
.trains{
}